.header
{
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--c_bg);
    border-bottom: solid 1px var(--c_emphasis);
    padding: 5px;
    align-items: center;
}

.logo
{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--c_emphasis);
}

.logo p
{
    font-family: var(--f_logo);
    font-weight: bolder;
    font-size: 28px;
}

.logo i
{
    font-size: 24px;
}

.navigation
{
    display: none;
}

@media (min-width:870px)
{
    .navigation
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        list-style: none;
        color: black;
        gap: 50px;
        padding-right: 15px;
    }

    .navigation li a
    {
        font-family: var(--f_emphasis);
    }

    .navigation__profile
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }
    
    .navigation__profile img
    {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
}