.register h1
{
    text-align: center;
    margin-top: 30px;
}

.register__main
{
    margin: 20px auto;
    background-color: white;
    padding: 40px 110px 40px;
    width: 750px;
    border-radius: 20px;
}

.register__main p, .register__main h1, .register__main b, .register__main label
{
    color: var(--c_emphasis);
    margin-bottom: 5px;
}

.register__main input
{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: solid 1px grey;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
}

.register__main input[type="checkbox"]
{
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.register__main label
{
    font-weight: 300;
    font-size: 15px;
}

.register__main div
{
    display:flex;
    align-items: baseline;
    padding: 5px;
}

.register__main select
{
    margin-left: 20px;
    width: 120px;
    height: 40px;
    border: none;
    border-bottom: solid 1px grey;
    padding: 5px 5px 0px 10px;
    border-radius: 10px;
}

.register__main .rememberColor
{
    margin-left: 15px;
}

.register__main input[type="submit"]
{
    background-color: var(--c_emphasis);
    border: none;
    color: white;
    margin-top: 25px;
}

.register__main small
{
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
}

.register__main .writtenInput
{
    flex-direction: column;
    width: 50%;
}

.register__main .ageInput
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.register__main .ageInput label
{
    width: 50%;
}
.register__main .ageInput input
{
    width: 50%;
}

.register__main .ageInput .writtenInput input
{
    width: 100%;
}