<!DOCTYPE html>
<html>
  <%- include("partials/head.ejs", { title: "Admin"}) %> 
  <body class="admin">
    <%- include("partials/header.ejs") %> 

    <h1>Hello admin: <%= user %> </h1>

    <div class="admin__activity">
      <h3>Take a look at your recent activity</h3>
    </div>

  </body>
</html>
