<!DOCTYPE html>
<html>
  <%- include("partials/head.ejs", { title: "User profile"}) %> 
  <body class="profile">
    <%- include("partials/header.ejs") %> 

    <h1>This is <%= username %>'s profile</h1>
  </body>
</html>
