<!DOCTYPE html>
<html>
  <%- include("partials/head.ejs", { title: "Join us!"}) %> 
  <body class="register">
    <%- include("partials/header.ejs") %> 

    <h1>Registering as a <%= profile %></h1>
  </body>
</html>
